include MANIFEST.in
include setup.py
include CONTRIBUTING.md
include long_description.rst
include README.md
include LICENSE.md
include CITATION.cff
include CODE_OF_CONDUCT.md
include pytest.ini

recursive-include tutorials *.ipynb
recursive-include logo *.pdf *.png *.svg
recursive-include requirements *.txt *.md

global-exclude *~
global-exclude *.pyc
global-exclude .svn