.wy-menu p {
    margin-block-start: 1em;
    margin-block-end: 0;
    padding-inline-start: 0.5em;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
 
td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

td a {
    width: 100%;
    display: block;
}
 
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

html[data-theme="light"] {
    /* whatever you want to change */
    background: white;
}

/* anything related to the dark theme */
html[data-theme="dark"] {
    /* whatever you want to change */
    background: black;
}

html[data-theme="dark"] table.data tbody tr:nth-child(odd) {
    background-color: #2e2e2e; /* Darker gray */
}

html[data-theme="dark"] table.data tbody tr:nth-child(even) {
    background-color: #3e3e3e; /* Lighter gray */
}

html[data-theme="light"] table.data tbody tr:nth-child(odd) {
    background-color: #eeeeee; /* Darker gray */
}

html[data-theme="light"] table.data tbody tr:nth-child(even) {
    background-color: #ffffff; /* Lighter gray */
}