name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os: [ubuntu, macos, windows]
        python-version: ['3.10', '3.11', '3.12', '3.13']
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install packages
      run: |
        pip install --upgrade pip
        pip install .[test,docs]
        pip list

    - name: Test XGI
      run: |
        # run test suite
        cd tests/
        pytest --color=yes
        # run doctests
        cd ../xgi/
        pytest --color=yes
